/* """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
Style sheet fr the HTMl CSS Course From GREAT IT Courses
Author: Jordan Hargreaves
Date: Saturday, February 6, 2021
File name: screen.css
Description: This is one of the style sheets for the whole learning program.
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

body {
  background: #8c8c8c url(cheap_diagonal_fabric.png) repeat scroll left top;
  color: #ffffff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 87.5%;
  line-height: 1.6;
}

div#wrapper {
  background-color: #ffffff;
  color: #000000;
  width: 760px;
  margin: 10px auto;
}

header {
  background-color: #58BADD;
  color: #000000;
  padding: 10px 20px;
}

header h1 {
  font-family: 'Pacifico', cursive;
  margin-bottom: 0;
}

header p {
  margin-top: 0;
  margin-bottom: 0;
}

div#main {
  padding: 10px 20px;
}

footer {
  border-top:1px solid #8c8c8c;
  padding: 10px 20px;
}

footer p {
  text-align: center;
  font-size: 80%;
  letter-spacing: 3px; 
}

/* Styles related to the different states of hyperlinks */ 

a:link  {
  color: #58badd;
}
a:visited {
  color: #dd5878;
}
a:hover {
  color: #c1274c;
}
a:focus{
  color: #c1274c;
}
a:active {
  background-color: #811a33;
  color: #ffffff;
}

/* Custom Classes */ 

.div-highlight {
  background-color: #C9ADB2;
  padding: 10px;
}

.current-nav-button {
  border: 3px solid #98d4ea;
}